@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,500;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    width: 100%;
    height: 100vh;
    background: radial-gradient(1291.43% 570.00% at 50.00% -6.25%, #000 0%, rgba(0, 0, 0, 0.00) 100%);
    color: #fff;
    display: grid;
    grid-template-areas:
        'sidebar navbar navbar'
        'sidebar main main'
        'sidebar main main';
    grid-template-columns: 124px 1fr;
    grid-template-rows: 73px 1fr;
}

.navbar,
.sidebar,
.header {
    /* border: 1px solid #fff; */
}

.navbar {
    grid-area: navbar;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.nav {
    /* border: 1px solid #fff; */
    width: 512px;
    height: 25px;
    display: flex;
    justify-content: space-around;
}

.nav li {
    list-style: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.4px;
}

.nav li a {
    text-decoration: none;
    color: #fff;
}

.nav li a:hover {
    cursor: pointer;
    color: #B9C2CD;
}

.sidebar {
    grid-area: sidebar;
    width: 124px;
    height: 100vh;
    flex-shrink: 0;
    background: #B9C2CD;
    display: flex;
    flex-direction: column;
}

.sidebar .top {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.sidebar .bottom {
    /* margin-top: 42px; */
    height: calc(100vh - 66px);
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.sidebar .bottom .text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    writing-mode: vertical-rl;
    color: #3d383888;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 20px;
}

.header {
    grid-area: main;
    display: flex;
}

.left-header {
    /* border: 1px solid #fff; */
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-header .content {
    /* border: 1px solid palegreen; */
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.content .heading {
    /* border: 1px solid #fff; */
    width: 703px;
    height: 190px;
    flex-shrink: 0;
}

.heading h1 {
    font-size: 171px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
}

#one {
    font-size: 40px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 4.8px;
}

#two {
    font-size: 45px;
    font-style: italic;
    font-weight: 500;
    margin-top: 47px;
}

#three {
    color: #92989D;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    line-height: 190%;
    /* 26.6px */
    letter-spacing: 0.7px;
    margin-top: 48px;
}

.btn {
    /* border: 1px solid #fff; */
    margin-top: 65px;
    display: flex;
}

button {
    border-radius: 27px;
    background: #B9C2CD;
    color: #000;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.8px;
    padding: 17px 9px;
}

button:hover {
    cursor: pointer;
    background: #5E6769;
    color: #B9C2CD;
}

.right-header {
    /* border: 1px solid #fff; */
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

.image {
    /* border: 1px solid #fff; */
    background: url(./assets/Nike-Shoe\ 1.png);
    background-position: center;
    background-size: cover;
    width: 93%;
    height: 90%;
    transform: rotate(-5.204deg);
    flex-shrink: 0;
}